[submodule ".vim/bundle/puppet"]
	path = .vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-classpath"]
	path = .vim/bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/fsharp"]
	path = .vim/bundle/fsharp
	url = git://github.com/kongo2002/fsharp-vim.git
[submodule ".vim/bundle/kotlin-vim"]
	path = .vim/bundle/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
[submodule ".vim/bundle/rust-vim"]
	path = .vim/bundle/rust-vim
	url = git://github.com/rust-lang/rust.vim.git
[submodule ".vim/bundle/vim-arduino"]
	path = .vim/bundle/vim-arduino
	url = git://github.com/jameslyden/vim-arduino.git
[submodule ".vim/bundle/vim-toml"]
	path = .vim/bundle/vim-toml
	url = git://github.com/cespare/vim-toml.git
[submodule ".vim/bundle/Dockerfile"]
	path = .vim/bundle/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/swift.vim"]
	path = .vim/bundle/swift.vim
	url = git@github.com:keith/swift.vim.git
[submodule ".vim/bundle/syntax_hlsl"]
	path = .vim/bundle/syntax_hlsl
	url = https://github.com/beyondmarc/hlsl.vim.git
[submodule ".vim/bundle/vim-glsl"]
	path = .vim/bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule ".vim/bundle/vim-opencl"]
	path = .vim/bundle/vim-opencl
	url = git://github.com/petRUShka/vim-opencl.git
[submodule ".vim/pack/plugins/start/zig.vim"]
	path = .vim/pack/plugins/start/zig.vim
	url = https://github.com/ziglang/zig.vim
