[user]
	name = David Young-chan Kay
    email = davidykay@gmail.com
 [color]
    ui = auto
[github]
	user = DavidYKay
[core]
	pager = diff-highlight | diff-so-fancy | less --tabs=1,5 -R
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = /mnt/usb/workspace/gigolo/.git
